In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [86]:
Data_gas=pd.read_csv("../Data/gas_price_2004.csv")
Data_oil=pd.read_csv("../Data/oil_price_2004.csv")
Data_car=pd.read_csv("../Data/car_price_2004.csv")
Data_flight=pd.read_csv("../Data/flight_price_2004.csv")
Data_hotel=pd.read_csv("../Data/hotel_price_2004.csv")
Data_beef=pd.read_csv("../Data/beef_price_2004.csv")
Data_milk=pd.read_csv("../Data/milk_price_2004.csv")

In [87]:
Data=pd.concat([Data_gas,Data_oil,Data_car,Data_flight,Data_hotel,Data_beef,Data_milk],axis=1)

In [88]:
Data=Data.drop(index='月份')
Data.columns=['gas','oil','car','flight','hotel','beef','milk']
Data=Data.apply(pd.to_numeric)

In [94]:
Data=Data.add(1,fill_value=0)

In [95]:
Data_trend=Data.pct_change()

In [96]:
Data_trend=Data_trend.drop(index='2004-01')

In [97]:
Data_trend

              gas       oil       car    flight     hotel       beef      milk
2004-02 -0.142857  0.500000 -0.079365 -0.360000  0.098039  -0.142857  0.333333
2004-03  0.333333 -0.111111  0.051724  1.125000  0.214286  -0.083333  0.750000
2004-04  0.250000  0.000000  0.065574 -0.235294 -0.264706  -0.909091 -0.441558
2004-05  1.300000  0.625000 -0.076923 -0.307692  0.200000  14.000000  0.604651
2004-06 -0.565217 -0.230769  0.116667  1.277778 -0.166667   0.066667 -0.246377
...           ...       ...       ...       ...       ...        ...       ...
2022-10  0.028571  0.038462  0.025974 -0.059524 -0.128205  -0.030303 -0.089744
2022-11 -0.222222 -0.111111 -0.088608  0.063291 -0.029412  -0.015625  0.014085
2022-12  0.071429 -0.041667  0.027778  0.000000  0.045455   0.365079 -0.138889
2023-01 -0.100000 -0.130435  0.094595  0.190476  0.072464  -0.139535  0.225806
2023-02 -0.037037  0.000000 -0.061728 -0.040000  0.067568   0.027027  0.078947

[229 rows x 7 columns]